@font-face {
  font-family: 'Figtree', sans-serif;
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf), format('ttf');
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf), format('ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: 'figtree', sans-serif;
    background-color: var(--Yellow);
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
 
  :root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);
  }

  /* ******************************MAIN STYLING********************************** */
  main {
    background-color: var(--White);
    margin: 0 auto;
    width: 95%;
  }