@font-face {
  font-family: 'Figtree', sans-serif;
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf), format('ttf');
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf), format('ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: 'figtree', sans-serif;
    background-color: var(--Yellow);
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
 
  :root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);
  }

  /* ******************************MAIN STYLING********************************** */
  main {
    background-color: var(--White);
    margin: 0 auto;
    width: 90%;
    margin-block-start: 3rem;
    padding: 1.5rem;
    padding-block-end: unset;
    border: 1.5px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 0px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 8px 8px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: 8px 8px 0px 1px rgba(0,0,0,1);
  }
/* ******************************HEADER STYLING********************************** */
  header .svg-background {
    border-radius: 12px;
    background: url('./assets/images/illustration-article.svg') no-repeat center center / cover;
    background-size: cover;
    margin: 0 auto;
    width:auto;
    height: 200px;
    /* padding-block-end: 1rem; */
  }

  header button {
    padding: .5rem 1rem;
    margin-block: 1rem;
    border: none;
    outline: none;
    background-color: var(--Yellow);
    transition: .3s ease-in-out;
    border-radius: 3px;
  }
  header button:hover {
    background-color: var(--Gray950);
    color: var(--Yellow);
  }

  header p {
    padding-block: .8rem;
  }

  /* ******************************SECTION STYLING********************************** */

  .textbox h1 {
    font-weight: 700;
    padding-block: 0 .5rem;
    transition: .3s ease-in-out;
  }

  .textbox h1:hover {
    color: var(--Yellow);
  }

  .textbox p {
    color: var(--Gray500);
  }

  .textbox .img-p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-block: 1.5rem;
    gap: .8rem;
  }

  .textbox .img-p img {
    width: 40px;
    height: auto;
  }

  .textbox .img-p p {
    font-weight: 700;
    color: var(--Gray950);
  }

  /* ******************************MEDIA QUERIES********************************** */

  @media (min-width:1200px) and (max-width:1440px) {
    main {
      width: 35%;
      margin-block: 1.5rem;
    }
  }